*
  outline: none!important

body
  font-size: 16px
  line-height: 24px
  color: #FFFFFF
  margin: 0

.section-title
  font-weight: 400
  font-size: 48px
  line-height: 60px
  letter-spacing: .04em
  color: #FFF

.section-line
  margin-top: 29px
  width: 326px
  height: 1.5px
  background: #DADADA


.section
  padding: 300px 0 50px
  background: #1d2c18
  &--leaf
    background: #2a3e23
  &--no-p
    padding: 0

.show-all
  display: inline-block
  width: 261px
  height: 24px
  background: url('../../../../img/show-all.svg') 50% 50% no-repeat

.show-more
  display: inline-block
  width: 229px
  height: 24px
  background: url('../../../../img/show-more.svg') 50% 50% no-repeat

.show-all-goods
  display: inline-block
  width: 261px
  height: 24px
  background: url('../../../../img/show-all-goods.svg') 50% 50% no-repeat

.add-to-cart-with-arrow
  display: inline-block
  width: 267px
  height: 24px
  background: url('../../../../img/add-to-cart.svg') 50% 50% no-repeat

.full-width
  width: 100%


.pb100
  padding-bottom: 100px

.pt200
  padding-top: 200px!important

.minus-mb-185
  margin-bottom: -185px

.sect-line
  height: 337px
  background: #2a3e23

.title-center
  text-align: center
  &
    .section-line
      display: inline-block

.section-header-content
  height: 89px
  display: flex
  align-items: center
  justify-content: space-between

.basket-block
  color: #000000

.mb-12
  margin-bottom: 12px