.window
  padding-top: 130px
  overflow: hidden

.section-policy
  &__inner
    padding: 100px 0
  &__img
    width: 100%
  &__text
    padding: 30px 0 40px
  &__img-wrap
    position: relative
    &:after
      content: ''
      position: absolute
      z-index: 2
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: url("../../../../img/policy-logo.svg") 50% 50% no-repeat
  &__img-bottom-wrap
    padding-top: 35px
  &__content
    .tab-pane
      min-height: 317px
    a.nav-link
      font-size: 32px
      color: #ffffff !important
      display: inline-block
      padding-bottom: 20px
      &.active
        border-bottom-color: #ffffff !important

.section-products
  &__content
   padding: 40px 0

.card
  margin-bottom: 100px
  &__img
    padding-bottom: 25px
  &__subtitle
    text-transform: uppercase
    font-size: 14px
    color: #FFBC78
    display: inline-block
    margin-bottom: 10px
  &__title
    display: inline-block
    margin: 0 0 5px
  &__price
    font-size: 24px
  &__img-wrap
    position: relative
  &__text
    margin: 6px 0 0
  &__img-title
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    background-position: 50% 50%
    background-repeat: no-repeat
    z-index: 2

.add-to-cart
  display: flex
  justify-content: space-between
  margin-top: 20px
  &__btn
    font-size: 16px
    font-weight: 500
    &:before
      content: '+'
      color: #FFBC78
      display: inline-block
      margin-right: 7px

.text-slider
  margin-right: 3px

.prev
  background: url(../../../../img/prev.svg) 50% 50% no-repeat
  margin-right: 10px
.next
  background: url(../../../../img/next.svg) 50% 50% no-repeat

.arrows
  display: flex
  cursor: pointer
.slick-arrow
  width: 24px
  height: 10px
  display: block

.text-slider-control
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: -20px
  .slick-dots
    display: flex

    padding-right: 10px
    & .dot
      cursor: pointer
      display: block
      width: 11px
      height: 11px
      overflow: hidden
      border-radius: 100%
      position: relative
      border: 1px solid #FFFFFF
      margin: 2px 2px
    .slick-active .dot
      background: #fff

.product
  &__text-slider
    margin: 30px 0 30px
  &__content-bottom
    margin-top: auto
  &__price
    font-size: 24px
    font-weight: 500
  &__content
    display: flex
    flex-direction: column
    height: 100%
  &__volume
    display: inline-block
    font-size: 24px
    color: #c0c0c0
    margin-left: 75px

.product-images
  margin-top: 30px

.images-slider-control
  margin-top: 20px

.set
  padding: 210px 0
  position: relative
  overflow: hidden
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    width: 50%
    background: url('../../../../img/set-1-bg.jpg') no-repeat 0 0
    background-size: cover
    margin-left: 162px
  &--variant2
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 50%
      width: 50%
      background: url('../../../../img/set-2-bg.jpg') no-repeat 0 0
      background-size: cover
      margin-left: 162px
  &__images
    position: absolute
    z-index: 1
    top: 50%
    transform: translateY(-50%)
    left: 50%
    margin-left: 70px
  &__images-wrap
    filter: drop-shadow(4px 20px 20px rgba(53, 52, 52, 0.6))
    width: 190px
    height: 190px
    margin: 35px 0
    & > img
      width: 100%
      height: 100%
      object-fit: cover
  &__subtitle
    display: inline-block
    margin-bottom: 20px
    color: #FFBC78
    font-size: 18px
    text-transform: uppercase
  &__title
    display: inline-block
    margin-bottom: 30px
  &__text
    max-width: 390px
    +font-family('Roboto')
    margin: 36px 0
  &__price-wrap
    display: inline-block
    margin-bottom: 20px
  &__price
    display: inline-block
    margin-right: 20px
    font-weight: 500
    font-size: 45px
    color: #FFBC78
    vertical-align: middle
    +font-family('Roboto')
  &__price-old
    font-weight: 300
    font-size: 30px
    vertical-align: middle
    text-decoration: line-through
    color: #dadada
    +font-family('Roboto')

.relation-slider
  margin-top: 70px
  &__item
    padding: 0 25px

.header-phone
  color: #ffbc78
  font-size: 15px
  font-weight: 500
  display: inline-block
  & + &
    margin-left: 10px

.section-header-block-shop-text
  margin-top: 0

.clickMenu
  position: relative

.with-submenu
  position: relative
  cursor: pointer
  &:hover
    .submenu
      display: block

.submenu
  display: none
  top: 100%
  left: 0
  position: absolute
  background: #1D2C18
  padding: 25px 20px
  &:hover
    display: block
  a
    font-size: 12px
    line-height: 11px

.section-inner
  width: 1180px!important

.section-footer
  padding: 100px 0

.section-footer-block-text-headline
  display: inline-block

.footer-menu
  &__item
    margin-bottom: 8px
  &__link
    color: #B5B5B5 !important


.section-io
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 590px

.nav-item
  padding-right: 20px

.nav-link
  padding-top: 5px
  padding-bottom: 5px
  color: #DADADA!important
  &.active
    border-bottom: 1px solid #fff!important

.tab-content
  padding: 20px 0
  color: #DADADA!important

.options
  padding-left: 17px
  li
    list-style-type: square
    margin-bottom: 12px
    line-height: 19px

.relation-slider
  &__price
    margin-top: 20px
    display: inline-block

.section-inner
  position: relative

.relation-slider-control
  position: absolute
  top: 350px
  left: -50px
  right: -50px
  & .arrows
    justify-content: space-between
    
.modal-dialog
  color: #000

.modal-content
  position: relative
  &:before
    content: ''
    position: absolute
    left: 0
    width: 400px
    top: 57px
    bottom: 0
    background: url("../../../../img/modal-1.png") 0 0 repeat-y
    background-size: contain
    z-index: 1
  &:after
    content: ''
    position: absolute
    right: 0
    width: 400px
    top: 57px
    bottom: 0
    background: url("../../../../img/modal-2.png") 100% 0 repeat-y
    background-size: contain
    z-index: 2

.modal-title
  font-size: 28px
  padding-left: 72px

.close
  font-size: 45px
  margin-right: -6px

.contact-title
  color: #1b1a1a
  font-size: 16px
  font-weight: bold

.contact-text
  font-size: 13px

#contacts .row
  margin-bottom: 20px

.pay-text
  margin-bottom: 11px

.detail-title
  font-size: 36px
  line-height: 44px
  margin-bottom: 10px

.basket-block-order-item-block-delete
  width: 30px
  cursor: pointer

.cart-final
  color: #000

.product-images
  .slick-prev, .slick-next
    margin-top: 10px
    cursor: pointer
    position: absolute
    top: 100%
  .slick-prev
    left: 0
  .slick-next
    left: 40px

.relation-slider
  .slick-prev, .slick-next
    cursor: pointer
    position: absolute
    top: 175px
  .slick-prev
    left: -40px
  .slick-next
    right: -40px

.close
  margin-top: -7px!important
  .sr-only
    display: none

#product-1
  padding-top: 200px

.orderButton
  padding: 10px !important
  border: 2px solid #FFBC78 !important
  text-align: center!important
  img
    margin-left: 50px
    transform: scaleX(2)

input.mail, input.cour, input.clickPay
  transform: translateY(2px)
  display: inline-block
  margin-right: 5px

.model
  transform: translateY(16px)

.error
  position: absolute
  color: red
  font-size: 12px
  margin-top: -3px

.error-wrap--address
  margin-bottom: 20px

.legend
  padding-top: 40px
  font-weight: bold
  list-style-type: none
  &--contraindications &__item
    font-weight: normal
    font-size: 11px
    line-height: 16px
  &__item
    font-size: 14px
    line-height: 19px

.nav-item
  padding-right: 0
  margin-right: 20px
  &.active
    color: #ffc48a !important
    border-bottom-color: #ffc48a !important

.tab-pane
  min-height: 444px

.preview-text
  & p
    margin-bottom: 20px