.basket-block-of-form-left-line-address-block-input, .basket-block-of-form-left-line-address-input, .basket-block-of-form-left-line-input, .basket-block-of-form-left-line-textarea
  box-sizing: border-box
  background: #FFF
  font-size: 16px
  line-height: 24px

h1, h2, h3, p, ul
  margin: 0

a, button
  color: inherit

*
  box-sizing: border-box

body, html
  font-family: Roboto,sans-serif

li
  list-style-type: none

hr
  border: 0

a
  text-decoration: none

ul
  list-style: none
  padding: 0

button
  padding: 0
  border: none
  font: inherit
  background-color: transparent
  cursor: pointer

.section-advantages-block-headline, .section-brushes-block-headline, .section-change-block-left-headline, .section-policy-block-headline, .section-products-block-left-headline
  font-family: 'Playfair Display',serif

button
  outline: 0

  &:active, &:focus
    outline: 0

input
  outline: 0

.section-outer
  padding-left: 40px
  padding-right: 40px

.section-outer_mobile
  padding-left: 16px
  padding-right: 16px

.section-inner
  max-width: 1180px
  margin: 0 auto
  height: 100%
  z-index: 1
  position: relative

.section-contact
  display: none
  position: fixed
  top: 130px
  left: 0
  right: 0
  z-index: 3
  height: 446px
  background: #FFF

.section-contact-leaf1
  position: absolute
  top: 0
  left: 0
  width: 420px

.section-contact-leaf2
  position: absolute
  bottom: 0
  right: 0
  width: 375px

.section-contact-logo
  margin-top: 115px

.section-contact-block
  display: flex
  flex-direction: row
  padding-top: 53px

.section-contact-block-address
  display: flex
  flex-direction: column
  width: 232px

.section-contact-block-address-headline
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #1B1A1A
  margin-bottom: 8px

.section-contact-block-address-text
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #515151

.section-contact-block-info, .section-contact-block-info-bl
  display: flex
  flex-direction: column

.section-contact-block-info-bl-headline
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #1B1A1A
  margin-bottom: 8px

.section-contact-block-info-bl-text
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #515151

.section-header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 130px
  background: #2a3e23
  z-index: 2

.section-header-line-1, .section-header-line-2
  position: absolute
  height: 1px
  opacity: .4
  right: 0

.section-header-line-1
  top: 88px
  left: 0
  background: #DADADA

.section-header-line-2
  top: 129px
  left: 0
  background: #9A9A9A

.section-header-block
  display: flex
  flex-direction: row
  flex-direction: row-reverse
  height: 89px
  position: relative

.section-header-block-logo
  position: absolute
  top: 0
  left: 50%
  margin-right: -50%
  transform: translate(-50%, 0)
  margin-top: 16.29px

.section-header-block-shop
  display: flex
  flex-direction: row
  align-items: center

.section-header-block-shop-text
  margin-top: 11px
  margin-left: 11.76px
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  letter-spacing: .12em
  color: #FFF

.section-header-menu
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  height: 41px

  a
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #FFF
    cursor: pointer

.section-banner
  margin-top: 130px
  height: 680px
  position: relative
  background-image: url(../../../../img/background-banner.png)
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.section-banner-background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #1B1A1A
  opacity: .4

.section-banner-block
  position: relative
  height: 680px

  img
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)

.section-policy
  position: relative
  background: #2A3E23

.section-policy-leaf-1
  position: absolute
  width: 709.71px
  top: -220px
  right: 0

.section-policy-block
  padding-top: 120px
  padding-bottom: 120px
  z-index: 1
  position: relative

.section-policy-block-headline
  max-width: 820px
  font-style: normal
  font-weight: 400
  font-size: 48px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-policy-block-line
  margin-top: 48px
  width: 326px
  height: 1.5px
  background: #DADADA

.section-policy-block-text
  display: flex
  flex-direction: row

.section-policy-block-text-block
  width: 480px
  margin-top: 45.5px
  margin-left: 100px
  display: flex
  flex-direction: column

.section-policy-block-text-block-text
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA

.section-policy-block-text-block-button
  display: flex
  flex-direction: row
  align-items: center
  cursor: pointer
  margin-top: 48px

.section-policy-block-text-block-button-text
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  letter-spacing: .12em
  color: #FFF

.section-policy-block-text-block-button img
  margin-left: 12px

.section-products
  position: relative
  background: #2A3E23

.section-products-leaf-2
  position: absolute
  width: 667.68px
  top: 280px
  right: 0

.section-products-leaf-3
  position: absolute
  width: 789.85px
  top: 420px
  left: 0

.section-products-leaf-4
  position: absolute
  width: 667.68px
  top: 1400px
  right: 0

.section-products-block
  padding-top: 40px
  padding-bottom: 40px
  display: flex
  flex-direction: row
  z-index: 1
  position: relative

.section-products-block-left-headline
  font-style: normal
  font-weight: 400
  font-size: 48px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-products-block-left-line
  margin-top: 48px
  width: 326px
  height: 1.5px
  background: #DADADA

.section-products-block-left-text
  margin-top: 40.5px
  max-width: 394px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA

.section-products-block-left-button
  display: flex
  flex-direction: row
  align-items: center
  cursor: pointer
  margin-top: 32px

.section-products-block-left-item, .section-products-block-right
  flex-direction: column
  display: flex

.section-products-block-left-button-text
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  letter-spacing: .12em
  color: #FFF

.section-products-block-left-button img
  margin-left: 12px

.section-products-block-left-item
  max-width: 380px
  margin-top: 88px

  img
    width: 100%

.section-products-block-left-item-info
  margin-top: 24px
  display: flex
  flex-direction: row
  justify-content: space-between

.section-products-block-left-item-info-headline
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #FFF

.section-products-block-left-item-info-button
  display: flex
  flex-direction: row
  align-items: center
  cursor: pointer

.section-products-block-left-item-info-button-text
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  letter-spacing: .12em
  color: #FFF

.section-products-block-left-item-info-button img
  width: 52px
  margin-left: 12px

.section-products-block-right-item
  max-width: 380px
  margin-top: 88px
  display: flex
  flex-direction: column

  img
    width: 100%

.section-change-block-right-item-button-img, .section-products-block-right-item-info-button img
  width: 52px
  margin-left: 12px

.section-products-block-right-item-info
  margin-top: 24px
  display: flex
  flex-direction: row
  justify-content: space-between

.section-products-block-right-item-info-headline
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #FFF

.section-products-block-right-item-info-button
  display: flex
  flex-direction: row
  align-items: center
  cursor: pointer

.section-products-block-right-item-info-button-text
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  letter-spacing: .12em
  color: #FFF

.section-brushes
  background: #2A3E23

.section-brushes-block
  padding-top: 120px
  padding-bottom: 120px
  display: flex
  flex-direction: column

.section-brushes-block-headline
  font-style: normal
  font-weight: 400
  font-size: 48px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-brushes-block-item-right-text, .section-brushes-block-text
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA
  font-style: normal

.section-brushes-block-line
  margin-top: 48px
  width: 326px
  height: 1.5px
  background: #DADADA

.section-advantages, .section-massage
  background: #2A3E23

.section-brushes-block-text
  max-width: 600px
  margin-top: 40.5px

.section-brushes-block-item
  display: flex
  flex-direction: row
  margin-top: 32px

.section-brushes-block-item-left
  max-width: 648px
  margin-right: 16px

.section-brushes-block-item-left-img
  width: 100%

.section-brushes-block-item-right
  display: flex
  flex-direction: column
  max-width: 500px
  margin-left: 16px

.section-brushes-block-item-right-text span
  font-weight: 700

.section-brushes-block-item-right-img
  margin-top: 32px
  width: 100%

.section-advantages-block
  padding-top: 10.93px
  padding-bottom: 150px
  display: flex
  flex-direction: column

.section-advantages-block-headline
  font-style: normal
  font-weight: 400
  font-size: 48px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-advantages-block-line
  margin-top: 48px
  width: 326px
  height: 1.5px
  background: #DADADA

.section-advantages-block-info
  margin-top: 48.5px
  display: flex
  flex-direction: row

.section-advantages-block-info-left
  display: flex
  flex-direction: column
  max-width: 756px

.section-advantages-block-info-left-img
  width: 100%

.section-advantages-block-info-left-tage
  margin-top: 40px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA

.section-advantages-block-info-left-text
  margin-top: 40px
  display: flex
  flex-direction: row

.section-advantages-block-info-left-text-item
  display: flex
  flex-direction: column

.section-advantages-block-info-left-text-item-headline, .section-advantages-block-info-right-item-headline
  flex-direction: row
  max-width: 330px
  display: flex

.section-advantages-block-info-left-text-item-headline-point
  width: 5px
  height: 5px
  margin-top: 9px

.section-advantages-block-info-left-text-item-headline-text
  margin-left: 8px
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #FFF

.section-advantages-block-info-left-text-item-tage
  margin-top: 16px
  margin-left: 16px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA

.section-advantages-block-info-right
  display: flex
  flex-direction: column
  margin-left: 46px
  width: 380px

.section-advantages-block-info-right-img
  width: 100%

.section-advantages-block-info-right-item
  display: flex
  flex-direction: column
  margin-top: 40px

.section-advantages-block-info-right-item-headline-point
  width: 5px
  height: 5px
  margin-top: 9px

.section-advantages-block-info-right-item-headline-text
  margin-left: 8px
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #FFF

.section-advantages-block-info-right-item-tage
  margin-top: 16px
  margin-left: 16px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA

.section-change
  background: #1D2C18

.section-change-block
  padding-top: 96px
  padding-bottom: 96px
  display: flex
  flex-direction: row

.section-change-block-left
  display: flex
  flex-direction: column
  max-width: 432px

.section-change-block-left-headline
  font-style: normal
  font-weight: 400
  font-size: 48px
  line-height: 125%
  letter-spacing: .04em
  color: #FFF

.section-change-block-left-item-text-text, .section-change-block-left-tage
  font-size: 16px
  line-height: 24px
  color: #DADADA
  font-style: normal

.section-change-block-left-text
  font-size: 16px
  line-height: 24px
  color: #DADADA
  font-style: normal
  max-width: 383px
  margin-top: 29px
  font-weight: 700
  margin-bottom: 4px

.section-change-block-left-item
  display: flex
  flex-direction: column
  max-width: 380px

.section-change-block-left-item-text
  display: flex
  flex-direction: row
  margin-top: 12px

.section-change-block-left-item-text-point
  margin-top: 10px
  width: 5px
  min-width: 5px
  max-width: 5px
  height: 5px
  min-height: 5px
  max-height: 5px
  border-radius: 50%
  background: #DADADA

.section-change-block-left-item-text-text
  margin-left: 8px
  font-weight: 400

.section-change-block-left-tage
  max-width: 280px
  margin-top: 24px
  font-weight: 700

.section-change-block-right
  display: flex
  flex-direction: row

.section-change-block-right-item
  width: 296px

.section-change-block-right-item-img
  width: 100%

.section-change-block-right-item-headline
  margin-top: 24px
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-change-block-right-item-text
  margin-top: 17px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA

.section-change-block-right-item-price
  margin-top: 17px
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-change-block-right-item-button
  display: flex
  flex-direction: row
  align-items: center
  cursor: pointer

.section-change-block-right-item-button-text
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  letter-spacing: .12em
  color: #FFF

.section-extracts-block-left-headline, .section-massage-block-headline
  font-size: 48px
  line-height: 125%
  color: #FFF
  font-weight: 400
  font-family: 'Playfair Display',serif
  font-style: normal

.section-massage-block
  padding-top: 160px
  padding-bottom: 120px

.section-massage-block-headline
  max-width: 680px
  letter-spacing: .04em

.section-massage-block-line
  margin-top: 48px
  width: 326px
  height: 1.5px
  background: #DADADA

.section-extracts
  background: #1D2C18

.section-extracts-block
  padding-top: 88px
  padding-bottom: 96px
  display: flex
  flex-direction: row

.section-extracts-block-left
  max-width: 578px

.section-extracts-block-left-headline
  letter-spacing: .04em

.section-extracts-block-left-text
  margin-top: 32px
  max-width: 470px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA

  span
    font-weight: 700

.section-extracts-block-left-tage
  margin-top: 65px
  max-width: 527px
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-extracts-block-left-text2
  margin-top: 12px
  max-width: 345px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA

.section-extracts-block-left-price
  margin-top: 32px
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-extracts-block-left-button
  margin-top: 21px
  display: flex
  flex-direction: row
  align-items: center
  cursor: pointer

.section-extracts-block-left-button-text
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  letter-spacing: .12em
  color: #FFF

.section-extracts-block-left-button-img
  width: 52px
  margin-left: 12px

.section-extracts-block-right
  margin-left: 102px
  max-width: 500px

  img
    width: 100%

.section-additionally
  position: relative
  background: #2A3E23

.section-additionally-leaf-5
  position: absolute
  width: 470.64px
  top: -30px
  right: 0

.section-additionally-leaf-6
  position: absolute
  width: 505.77px
  top: 470px
  left: 0

.section-additionally-block
  padding-top: 120px
  padding-bottom: 160px
  display: flex
  flex-direction: column
  align-items: center

.section-additionally-block-headline
  font-family: 'Playfair Display',serif
  font-style: normal
  font-weight: 400
  font-size: 48px
  line-height: 150%
  text-align: center
  letter-spacing: .04em
  color: #FFF

.section-additionally-block-line
  margin-top: 40px
  width: 326px
  height: 1.5px
  background: #DADADA

.section-additionally-block-item
  display: flex
  flex-direction: row
  margin-top: 72.5px

.section-additionally-block-item-block
  width: 296px

.section-additionally-block-item-block-img
  width: 100%

.section-additionally-block-item-block-hedline
  margin-top: 24px
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-additionally-block-item-block-text
  margin-top: 17px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #DADADA

.section-additionally-block-item-block-price
  margin-top: 17px
  font-style: normal
  font-weight: 700
  font-size: 24px
  line-height: 150%
  letter-spacing: .04em
  color: #FFF

.section-additionally-block-item-block-button
  margin-top: 21px
  display: flex
  flex-direction: row
  align-items: center
  cursor: pointer

.section-additionally-block-item-block-button-text
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 24px
  letter-spacing: .12em
  color: #FFF

.section-additionally-block-item-block-button-img
  width: 52px
  margin-left: 12px

.section-footer
  background: #141F10

.section-footer-block
  padding-top: 58px
  padding-bottom: 54px
  display: flex
  flex-direction: row
  justify-content: center

.section-footer-block-text
  display: flex
  flex-direction: column

.section-footer-block-text-headline
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #E4E3DB
  margin-bottom: 12px

.section-footer-block-text-line
  margin-top: 12px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #B5B5B5

.section-footer-block-text-pay
  margin-top: 15px
  display: flex
  flex-direction: row

.section-footer-block-img
  margin-top: 10px
  width: 128px
  height: 123.86px

.section-modalinf
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(255, 255, 255, 0.64)
  z-index: 4
  overflow: auto

.section-modalinf-block
  background: #FFF
  position: absolute
  top: 50%
  left: 50%
  margin-right: -50%
  transform: translate(-50%, -50%)
  width: 1100px
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 64px 170px 88px

.section-modalinf-block-close
  position: absolute
  top: 75px
  right: 130px
  cursor: pointer

.section-modalinf-block-leaf1
  width: 450px
  position: absolute
  left: 0
  bottom: 0

.section-modalinf-block-leaf2
  width: 500px
  position: absolute
  bottom: 0
  right: 0

.section-modalinf-block-title
  font-family: 'Playfair Display',serif
  font-style: normal
  font-weight: 400
  font-size: 32px
  line-height: 150%
  letter-spacing: .04em
  color: #1B1A1A
  margin-bottom: 14px

.section-modalinf-block-text
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #515151

.section-modalinf-block-line
  width: 100%
  height: 1px
  background: #DADADA
  margin-top: 20px
  margin-bottom: 40px

.basket
  background: #fff
  position: relative

.basket-leaf1
  position: absolute
  top: 284px
  left: 0
  width: 350px

.basket-leaf2
  position: absolute
  top: 671px
  right: 0
  width: 500px

.basket-block
  max-width: 1180px
  margin: 0 auto
  height: 100%
  display: flex
  flex-direction: column

.basket-block-order
  display: flex
  flex-direction: column

.basket-block-order-title
  font-family: 'Playfair Display',serif
  font-style: normal
  font-weight: 400
  font-size: 32px
  line-height: 150%
  letter-spacing: .04em
  color: #1B1A1A
  margin-bottom: 24px

.basket-block-order-line
  width: 100%
  height: 1px
  background: #DADADA

.basket-block-order-item
  display: flex
  flex-direction: column

.basket-block-order-item-block
  display: flex
  flex-direction: row
  padding-top: 16px
  padding-bottom: 16px
  border-bottom: 1px solid #DADADA

.basket-block-order-item-block-img
  width: 80px
  height: 80px
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.basket-block-order-item-block-text
  width: 25%
  margin-left: 16px
  display: flex
  flex-direction: column
  justify-content: center

.basket-block-order-item-block-text-z
  margin-bottom: 8px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #515151

.basket-block-order-item-block-text-a
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #1B1A1A

.basket-block-order-item-block-col
  display: flex
  flex-direction: row
  width: 20%
  align-items: center

.basket-block-order-item-block-col-bl
  width: 56px
  height: 56px
  border: 1px solid #DADADA
  line-height: 56px
  text-align: center
  font-size: 26px
  cursor: pointer

.basket-block-order-item-block-col-text
  width: 77px
  height: 56px
  line-height: 56px
  font-size: 18px
  text-align: center
  border-top: 1px solid #DADADA
  border-bottom: 1px solid #DADADA

.basket-block-order-item-block-delete
  position: relative
  flex-grow: 1

  img
    position: absolute
    top: 50%
    right: 0
    transform: translate(0, -50%)

.basket-block-of
  display: flex
  flex-direction: column

.basket-block-of-title
  font-family: 'Playfair Display',serif
  font-style: normal
  font-weight: 400
  font-size: 32px
  line-height: 150%
  letter-spacing: .04em
  color: #1B1A1A
  margin-top: 41px
  margin-bottom: 40px

.basket-block-of-form
  display: flex
  flex-direction: row

.basket-block-of-form-left
  display: flex
  flex-direction: column

.basket-block-of-form-left-line
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: 32px

.basket-block-of-form-left-line-text
  width: 200px
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 24px
  color: #1B1A1A

.basket-block-of-form-left-line-address
  display: flex
  flex-direction: column

.basket-block-of-form-left-line-address-input
  width: 300px
  height: 40px
  border: 1px solid #DADADA
  font-style: normal
  font-weight: 700
  color: #1B1A1A
  padding: 8px 12px

  &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #515151

.basket-block-of-form-left-line-address-block
  display: flex
  flex-direction: row
  justify-content: space-between

.basket-block-of-form-left-line-address-block-input
  width: 146px
  height: 40px
  border: 1px solid #DADADA
  font-style: normal
  font-weight: 700
  color: #1B1A1A
  padding: 8px 12px

  &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #515151

.basket-block-of-form-left-line-input
  width: 300px
  height: 40px
  border: 1px solid #DADADA
  font-style: normal
  font-weight: 700
  color: #1B1A1A
  padding: 8px 12px

  &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #515151

.basket-block-of-form-left-line-textarea
  width: 300px
  height: 100px
  border: 1px solid #DADADA
  font-style: normal
  font-weight: 700
  color: #1B1A1A
  padding: 8px 12px

.basket-block-of-form-left-title, .section-sp-block-headline
  font-family: 'Playfair Display',serif
  font-style: normal
  font-size: 32px
  letter-spacing: .04em

.basket-block-of-form-left-title
  font-weight: 400
  line-height: 150%
  color: #1B1A1A
  margin-top: 40px

.basket-block-of-form-left-per, .basket-block-of-form-left-pers
  margin-top: 56px
  flex-direction: column
  font-weight: 500
  letter-spacing: .12em
  font-size: 16px
  line-height: 24px
  color: #1B1A1A
  display: flex

.basket-block-of-form-left-per
  font-style: normal
  margin-bottom: 88px

  button
    background: rgba(240, 50, 38, 0)
    border-color: rgba(240, 50, 38, 0)
    color: #1B1A1A
    padding: 0
    text-align: left

    &:hover
      background: 0 0
      border-color: #000000

  span
    padding: 0

.basket-block-of-form-left-pers
  font-style: normal
  position: absolute
  bottom: 0
  margin-bottom: 20px
  left: 50%
  margin-right: -50%
  transform: translate(-50%, -50%)

  span
    padding: 0

/*.basket-block-of-form-left-pers button{background:rgba(240,50,38,0);border-color:rgba(240,50,38,0);color:#1B1A1A;padding:0;text-align:left}/*.basket-block-of-form-left-pers button:hover{background:0 0;border-color:#f0322600}

.basket-block-of-form-right
  margin-left: 93px
  width: 300px
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 24px
  color: #1B1A1A

.section-sp
  background: #fff
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0

.section-sp-close
  position: absolute
  top: 75px
  right: 71px

.section-sp-leaf1
  position: absolute
  width: 500px
  top: 284px
  left: 0

.section-sp-leaf2
  position: absolute
  top: 0
  right: 0
  width: 300px

.section-sp-block-headline
  font-weight: 400
  line-height: 150%
  text-align: center
  color: #1B1A1A

.section-sp-block-itog, .section-sp-block-text-end, .section-sp-block-text-first
  font-style: normal
  font-size: 16px
  line-height: 24px
  color: #1B1A1A

.section-sp-block-line
  margin-top: 16px
  margin-bottom: 16px
  height: 1px
  background: #DADADA

.section-sp-block-itog
  text-align: right
  font-weight: 700

.section-sp-block-text
  display: flex
  flex-direction: column

.section-sp-block-text-first
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 8px
  font-weight: 700

.section-sp-block-text-end
  font-weight: 400

.delivery
  z-index: 50

.alfa-payment__button
  border: 3px #000000